.swiper {
  width: 100%;
  overflow: visible;
}

.swiper-slide {
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  /* margin-left: 10px; */
  /* border: 2px solid red; */
  width: 100%;
  gap: 100px;
  align-items: center;
}

.swiper-slide-prev,
.swiper-slide-next {
  visibility: visible;
}

.swiper-pagination {
  @apply !top-auto;
}
.swiper-pagination-bullet {
  @apply !w-3 !h-1 !bg-white !bg-opacity-25 !rounded-[10px] !mx-1 !opacity-100;
}
.swiper-pagination-bullet-active {
  @apply !w-7 !h-[6px] !bg-[#FDC65C] !bg-opacity-100;
}
